* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    height: 104%;
    position: relative;
}

/* Navigation css */
#nav_logo {
    width: 20em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
}

nav div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav div a {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

nav div input {
    margin-left: 2em;
}

/* Footer css */
footer {
	align-items: center;
	background-color: #262626;
	color: #666666;
	display: flex;
	font-size: 2em;
	height: 50px;
	justify-content: center;
	text-transform: uppercase;
	width: 100%;
	
    position: relative;
    bottom: 0;
}

/* Index css */
.header_section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 3em;
    margin-bottom: 3em;
}

.intro_container {
    width: 20em;
}

#showcase_img {
    width: 15em;
    height: 15em;
    object-fit: cover;
}

h2 {
    text-align: center;
}

.recent_thumbnail {
    width: 10em;
    height: 10em;
}

.scroll_recent {
    overflow: auto;
    white-space: nowrap;
}

.how_img_container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.how_img {
    width: 10em;
    height: 10em;
}

.money_section {
    margin-bottom: 5em;
}

.money_img_container {
    display: flex;
    justify-content: center;
}

.money_img {
    width: 13em;
    height: 13em;
}

/* login and signup styling */

.login_signup_intro_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5em;
    background-color: rgb(247, 247, 201);
    
    height: 100vh;
}

.intro_section h1 {
    font-size: 3em;
}

.login_signup_section {
    background-color: rgb(209, 209, 209);
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;

    padding: 1em;
}

form div {
    display: flex;
    flex-direction: column;
}

.login_signup_back_btn {
    position: fixed;
    top: 50px;
    left: 80%;
}

/* profile styling */

.profile_section {
    display: flex;
    align-items: center;
    gap: 10em;
    margin-left: 5em;
    margin-right: 5em;
    height: 95vh;
}

.profile_picture {
    width: 35em;
    height: 35em;
    object-fit: cover;
}

.user_info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user_info_container p {
    width: 50%;
}

.user_info_container h2 {
    font-size: 3em;
    margin-bottom: 0;
}

.user_info_container h3 {
    font-size: 2em;
    margin-bottom: 1em;
}

.top_nft_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.top_nft_container img {
    width: 15em;
    height: 15em;
    object-fit: cover;
}